# Crontab file for running script 'run' every 5 minutes (01, 06, 11, 16, etc.).
#
# Cron information:
#   - Every user can have one crontab file in /var/spool/cron/crontabs
#   - Each line of a crontab file specifies an independent cron task
#   - List crontab file:        crontab -l
#   - Edit crontab file:        crontab -e
#   - Delete crontab file:      crontab -r
#   - Install new crontab file: crontab <file>
#   - The working directory for a cron task is HOME of the crontab user
#
# Usage:
#   - Add locations of gawk, curl, and mysql to PATH (default: /usr/bin:/bin)
#   - Adapt path of aw2db directory in 'cd' statement
#   - Install this crontab file: $ crontab ./crontab
#
# Daniel Weibel <danielmartin.weibel@polimi.it> Dec. 2015 - May 2016
#------------------------------------------------------------------------------#
1,6,11,16,21,26,31,36,41,46,51,56 * * * * PATH=$PATH:/usr/local/bin; cd /home/antlab/aw2db; ./run &>cron_task_error.txt
